@font-face {
  font-family: 'ibm_plex_sans_condensedSBd';
  src: url('ibmplexsanscondensed-semibold-webfont.woff2') format('woff2'),
    url('/fonts/ibmplexsanscondensed-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_sans_condensedbold';
  src: url('/fonts/ibmplexsanscondensed-bold-webfont.woff2') format('woff2'),
    url('/fonts/ibmplexsanscondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_sansregular';
  src: url('/fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
    url('/fonts/ibmplexsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_sanssemibold';
  src: url('/fonts/ibmplexsans-semibold-webfont.woff2') format('woff2'),
    url('/fonts/ibmplexsans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_sansbold';
  src: url('/fonts/ibmplexsans-bold-webfont.woff2') format('woff2'),
    url('/fonts/ibmplexsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_sansmedium';
  src: url('/fonts/ibmplexsans-medium-webfont.woff2') format('woff2'),
    url('/fonts/ibmplexsans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
