@import 'https://unpkg.com/open-props';
@import 'open-props/colors-hsl';

@import './utilities.css';
@import './blocks/blocks.css';
@import './layouts/layouts.css';

@import './fonts.css';
@import './reset.css';

:root {
  /* /// Fonts /// */
  /* Font Size */
  --fs-200: var(--font-size-00);
  --fs-300: var(--font-size-0);
  --fs-350: 0.875rem;
  --fs-400: var(--font-size-1);
  --fs-450: var(--font-size-2);
  --fs-500: var(--font-size-3);
  --fs-600: var(--font-size-4);
  --fs-700: var(--font-size-5);
  --fs-800: var(--font-size-6);
  --fs-900: clamp(var(--font-size-5), 3vw + 1rem, var(--font-size-6));
  --size-xl: clamp(var(--font-size-7), 4vw + 1rem, var(--font-size-8));

  --body-font-size: var(--fs-400);
  --heading-one-font-size: var(--size-xl);

  /* Font family */
  --body-font-family: 'ibm_plex_sansregular';
  --heading-font-family: 'ibm_plex_sans_condensedbold';

  --body-line-height: 1.5;
  --heading-line-height: 1.1;

  --body-font-color: var(--color-neutral-500);
  /* /// Spacing /// */
  --size-200: var(--size-1);
  --size-300: var(--size-2);
  --size-400: var(--size-3);
  --size-500: var(--size-7);
  --size-600: var(--size-9);
  --size-700: var(--size-10);

  /* /// Layout /// */
  --hero-padding-block: clamp(9rem, 15vh, 20rem);
  --section-padding-block: clamp(5rem, 12vh, 7rem);

  --flex-group-gap: var(--size-400);

  /* Containers width */
  --container-max-width: 64rem;
  --container-max-width-narrow: 40rem;
  --container-max-width-wide: 75rem;

  /* /// Color palette /// */
  --color-neutral-100: var(--gray-0);
  --color-neutral-200: var(--gray-2);
  --color-neutral-300: var(--gray-3);
  --color-neutral-400: var(--gray-4);
  --color-neutral-500: var(--gray-7);
  --color-neutral-600: var(--gray-8);
  --color-neutral-700: var(--gray-9);
  --color-neutral-800: var(--gray-10);
  --color-neutral-900: var(--gray-11);

  --color-primary-100: var(--blue-1);
  --color-primary-200: var(--blue-2);
  --color-primary-300: var(--blue-3);
  --color-primary-500: var(--blue-7);
  --color-primary-600: var(--blue-8);
  --color-primary-700: var(--blue-9);
  --color-primary-800: var(--blue-10);
  --color-primary-900: var(--blue-12);

  --color-secondary-100: #f4f8fa;
  --color-secondary-400: #90b4ce;
  --color-secondary-500: #82a2b9;
  --color-secondary-600: #6c879b;
  --color-secondary-900: #323f48;

  --color-accent-100: var(--orange-3);
  --color-accent-200: var(--orange-4);
  --color-accent-300: var(--orange-5);
  --color-accent-400: var(--orange-7);
  --color-accent-500: var(--orange-9);
  --color-accent-600: var(--orange-11);

  /*/// Navigation /// */
  --site-header-padding: var(--size-1) 0;
  --navigation-gap: var(--size-7);
  --navigation-color: var(--color-neutral-900);
  --navigation-color-hover: var(--color-primary-700);
  --navigation-font-weight: 400;

  /*/ // Buttons /// */
  --button-font-family: var(--body-font-family);
  --button-font-size: var(--fs-400);
  --button-text-transform: none;
  --button-padding: 0.75rem 1.25rem;
  --button-border: 0;
  --button-border-radius: var(--radius-2);
  --button-font-weight: 500;
  --button-box-shadow: var(--shadow-3);

  --button-primary-color: var(--color-neutral-100);
  --button-primary-background: var(--color-primary-500);
  --button-primary-background-hover: var(--color-primary-600);

  --button-accent-color: var(--color-neutral-900);
  --button-accent-background: var(--color-secondary-400);
  --button-accent-background-hover: var(--color-secondary-500);

  /* /// Cards /// */
  --card-flow-spacing: var(--size-100);
  --card-body-padding: var(--size-500);
  --card-background-default: var(--color-neutral-100);
  --card-color-default: var(--body-font-color);
  --card-font-family: var(--body-font-family);
  --card-line-height: 1.5;
  --card-shadow: var(--shadow-2);
  --card-border-radius: var(--radius-1);
  --card-border: var(--border-size-1) solid var(--color-neutral-100);

  --card-heading-font-size: var(--fs-800);
  --card-heading-font-family: var(--heading-font-family);
  --card-heading-color-default: var(--color-primary-500);

  /* /// Swiper /// */
  --swiper-pagination-color: var(--color-accent-300);
  --swiper-pagination-bullet-size: 9px;
  --swiper-pagination-bullet-width: 9px;
  --swiper-pagination-bullet-height: 9px;
  --swiper-pagination-bottom: 0px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
}

:is(h1, h2, h3, h4, h5) {
  line-height: var(--heading-line-height);
  font-family: var(--heading-font-family);
  margin: 0;
  color: var(--color-neutral-900);
}

h1 {
  font-size: var(--heading-one-font-size);
  color: var(--color-neutral-100);
}

h6 {
  font-size: var(--body-font-size);
}

.ph-check-square,
.ph-envelope,
.ph-phone {
  color: var(--color-accent-400);
}

.ph-envelope,
.ph-phone {
  font-size: 1.25rem;
  /* background: var(--color-accent-100); */
  /* padding: 0.25em; */
}

.address__link {
  text-decoration: none;
  color: var(--body-font-color);
  transition: color 250ms ease-out;
}

.address__link:is(:hover, :focus) {
  color: var(--color-primary-500);
}
