/* Container */
.container {
  --padding: var(--size-3) * 2;
  --max-width: var(--container-max-width);
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type='narrow'] {
  --max-width: var(--container-max-width-narrow);
}
.container[data-type='wide'] {
  --max-width: var(--container-max-width-wide);
}
.container[data-type='full-bleed'] {
  --max-width: 100%;
}

/* Even-columns */
.even-columns {
  display: grid;
  gap: var(--grid-gap, 2rem);
}

@media (min-width: 45em) {
  .even-columns {
    --grid-auto-columns: 1fr 1fr;
    --grid-gap: 1.5rem;
    grid-auto-flow: column;
    grid-auto-columns: var(--grid-auto-columns, 1fr 1fr);
  }
}

/* Flow */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

/* Flex group */
.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-group-gap);
  row-gap: var(--flex-row-gap, calc(var(--flex-group-gap) / 2));
  width: fit-content;
  justify-content: center;
}

.bg-dark {
  background: var(--color-primary-900);
}

.grid {
  display: grid;
}

.heading-primary {
  font-size: var(--heading-one-font-size);
  color: var(--color-neutral-100);
}

.heading-secondary {
  font-size: var(--fs-900);
}

.heading-tertiary {
  font-size: var(--font-size-1);
  color: var(--color-primary-500);
}

.heading {
  font-size: var(--font-size-2);
  color: var(--color-primary-500);
}

/* Font Size */
.fs-300 {
  font-size: var(--fs-300);
}

.fs-450 {
  font-size: var(--fs-450);
}
.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

/* Box Shadows */
.shadow {
  box-shadow: var(--shadow-1);
}
.shadow-s {
  box-shadow: var(--shadow-2);
}

.shadow-md {
  box-shadow: var(--shadow-3);
}

.shadow-lg {
  box-shadow: var(--shadow-4);
}

/* Margins */

.m-block-end-8 {
  margin-block-end: var(--size-8);
}

.m-top-5 {
  margin-top: var(--size-5);
}

.m-bottom-2 {
  margin-bottom: var(--size-2);
}
.m-bottom-7 {
  margin-bottom: var(--size-7);
}
.m-bottom-8 {
  margin-bottom: var(--size-8);
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

/* Text align */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Text color */
.text-neutral-100 {
  color: var(--color-neutral-100);
}
.text-neutral-200 {
  color: var(--color-neutral-200);
}
.text-neutral-300 {
  color: var(--color-neutral-300);
}
.text-neutral-400 {
  color: var(--color-neutral-400);
}

.text-brand-100 {
  color: var(--color-primary-100);
}
.text-brand-200 {
  color: var(--color-primary-200);
}
.text-brand-300 {
  color: var(--color-primary-100);
}

.text-brand-500 {
  color: var(--color-primary-500);
}

.text-accent-400 {
  color: var(--color-accent-400);
}
.text-accent-100 {
  color: var(--color-accent-100);
}

/* Flex */
.flex {
  display: flex;
  flex-direction: var(--flex-direction, row);
  justify-content: var(--justify-content, start);
  align-items: var(--align-items, center);
  gap: var(--flex-gap, 0.5rem);
}

/* Backgrounds */
.bg-neutral-100 {
  background-color: var(--color-neutral-100);
}

.bg-primary-500 {
  background-color: var(--color-primary-900);
}

.border-radius-xs {
  border-radius: var(--radius-1);
}

.border-radius-sm {
  border-radius: var(--radius-2);
}

.border-radius-md {
  border-radius: var(--radius-3);
}

.border-radius-lg {
  border-radius: var(--radius-4);
}

.border-round {
  border-radius: var(--radius-round);
}

/* Padding */
.py-5 {
  padding-block: var(--size-5);
}

/* Border Bottom */
.line-bottom {
  border-bottom: 1px solid var(--color-neutral-300);
  max-width: 80%;
}
