.section {
  padding-block: var(--section-padding-block);
}

.section[data-type='translated'] {
  transform: translateY(-80px);
  padding-block: 0;
}

.section[data-type='hero'] {
  padding-block: var(--hero-padding-block);
}

@media (min-width: 45em) {
  .section[data-type='hero'] {
    text-align: left;
  }
}

.section[data-type='about'] {
  padding-top: 0;
}
.section[data-type='features'] {
  background: linear-gradient(rgba(13, 55, 94, 0.8), rgba(13, 55, 94, 0.8)),
    url(/images/container-ship.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section[data-type='tracking'] {
  background: url(/images/world-map.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section[data-type='testimonials'] {
  background: linear-gradient(rgba(13, 55, 94, 1), rgba(13, 55, 94, 0.9)),
    url(/images/testimonial-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tracking__image {
  background: linear-gradient(rgba(199, 75, 22, 0.2), rgba(199, 75, 22, 0.2)),
    url(/images/tracking.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--radius-blob-1);
}

.section[data-type='cta'] {
  background-image: url(/images/Hexagon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--size-fluid-4);
  text-align: center;
}

@media (min-width: 65em) {
  .section[data-type='cta'] {
    text-align: left;
  }
}

.section[data-type='footer'] {
  background-image: url(/images/Hexagon-footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--size-fluid-4);
  text-align: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
