.button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  /* line-height: 1; */
  height: var(--button-height);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  font-weight: var(--button-font-weight);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  transition: all 250ms ease-out;
}

@media (min-width: 45em) {
  .button {
    display: inline-flex;
    flex-grow: 0;
  }
}

.button[data-type='primary'] {
  background-color: var(--button-primary-background);
  color: var(--button-primary-color);
}

.button[data-type='accent'] {
  background-color: var(--button-accent-background);
  color: var(--button-accent-color);
}

.button[data-type='primary']:is(:hover, :focus) {
  background-color: var(--button-primary-background-hover);
}

.button[data-type='accent']:is(:hover, :focus) {
  background-color: var(--button-accent-background-hover);
}

.button[data-type='primary-small'] {
  padding: 0.625rem 1.25rem;
  font-size: 14px;
  background-color: var(--button-primary-background);
  color: var(--button-primary-color);
}

.button[data-type='primary-small']:is(:hover, :focus) {
  background-color: var(--button-primary-background-hover);
}
