.card {
  /* display: grid; */
  /* gap: var(--card-flow-spacing); */
  padding: var(--card-body-padding);

  background-color: var(--card-background-default);
  font-family: var(--card-font-family);
  color: var(--card-color-default);
  line-height: var(--card-line-height);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  border: var(--card-border);
}

.card__heading {
  font-family: var(--card-heading-font-family);
  font-size: var(--card-heading-font-size);
  color: var(--card-heading-color-default);
}

.card[data-type='services-card'] {
  overflow: hidden;
  border-radius: var(--radius-2);
  padding: 0;
  background: #fff;
}

.card__content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.card[data-type='features-card'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* aspect-ratio: var(--ratio-square); */
  padding: var(--size-400);
  background: rgba(248, 249, 250, 0.1);
  backdrop-filter: blur(4px);
  border: none;
  box-shadow: var(--shadow-3);
}
